<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <a href="/">Back to main</a>
        <h1>{{ title }}</h1>
        {{ username }}'s birth date: {{ birth_date }}<br>
        {{ username }}'s gender: {{ gender }}<br><br>
        {{ snapshots_num }} snapshots:
        <table>
            {% for snapshot in snapshots: %}
            <tr><td>
                <a href="/{{ user_id }}/{{ snapshot }}">{{ snapshot }}</a>
            </td></tr>
            {% endfor %}
        </table>
    </body>
</html>
