<html>
    <head>
        <title>Man-Machine Interface -- {{ title }}</title>
    </head>
    <h1>{{ title }}</h1>
    <a href="/{{ user_id }}">Back to user</a><br>
    <body>
        <table>
            <tr>
                <td>Translation:</td>
                <td>{{ pose['translation'][0] }}</td>
                <td>{{ pose['translation'][1] }}</td>
                <td>{{ pose['translation'][2] }}</td>
            </tr>
            <tr>
                <td>Rotation:</td>
                <td>{{ pose['rotation'][0] }}</td>
                <td>{{ pose['rotation'][1] }}</td>
                <td>{{ pose['rotation'][2] }}</td>
                <td>{{ pose['rotation'][3] }}</td>
            </tr>
            <tr>
                <td>Hunger: {{ feelings['hunger'] }}</td>
                <td>Thirst: {{ feelings['thirst'] }}</td>
                <td>Exhaustion: {{ feelings['exhaustion'] }}</td>
                <td>Happiness: {{ feelings['happiness'] }}</td>
            </tr>
        </table>
        <table>
            <tr><td><img src="{{ depth_image }}" /></td></tr>
            <tr><td><img src="{{ color_image }}" /></td></tr>
        </table>
    </body>
</html>
